<%= simple_form_for :session, url: session_path do |form| %>
  <div>
    <%= form.input :email_or_username %>
  </div>
  <div>
    <%= form.input :password %>
  </div>
  <div>
    <%= form.button :submit, t("helpers.submit.session.create") %>
  </div>
<% end %>
