.homes-show {
  .start-now {
    @include button;

    &:hover {
      color: $light-gray;
    }
  }

  .no-followers {
    margin-bottom: $base-spacing;
  }

  h2 {
    font-size: $base-font-size * 2;
  }
}
