.homes-show {
  .start-now {
    @include button;

    &:hover {
      color: $light-gray;
    }
  }

  form {
    margin-bottom: $base-spacing;
  }

  aside {
    @include span-columns(3);
    margin-left: $column;
  }

  main {
    @include span-columns(8);

    li {
      margin-bottom: $base-spacing;
    }
  }

  h2 {
    font-size: $base-font-size * 2;
  }
}
