<h1 class="logo">You should totally...</h1>

<ul>
  <li>...watch iZombie</li>
  <li>...read The Martian</li>
  <li>...learn Ruby</li>
</ul>

<a class="start-now" href="<%= new_user_path %>">
  <%= t(".start_now") %>
</a>
