<%= simple_form_for TelevisionShow.new do |form| %>
  <%= form.input :title %>
  <%= form.button :submit %>
<% end %>

<ul>
  <% TelevisionShow.all.each do |television_show| %>
    <li><%= television_show.title %></li>
  <% end %>
</ul>
